<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iTrips.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1DCF52491DB23EA500D4286A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DCF525D1DB23EA700D4286A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DCF52681DB23EA800D4286A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
